@page
@model AdminModel
@{
    ViewData["Title"] = "Admin page";
}

<div class="text-center">
    <h1 class="display-4">Only admins here</h1>

   <hr />

@{
    foreach( var role in Model.Roles)
    {
        <p><b>Role:</b> @role</p>
    }
}

</div>
